<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Express-Job - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href='~/img/logo_mini.png'/>
    <link rel="stylesheet" href="~/css/site.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alegreya+Sans">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta">
</head>

<body id="page-top">
    <h1 class="sr-only">Express-Job</h1>
    @RenderBody()
    <footer style="background-color: #343539;">
        <div class="container text-center">
            <p style="font-family: 'Alegreya Sans', sans-serif;">Copyright © Express-Job 2020</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Scripts/grayscale.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
