<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>ExpressJob - @ViewData["Title"]</title>
    <link rel="icon" type="image/png" href="~/img/logo.png"/>
    <link rel="stylesheet" href="~/css/site.css">
</head>

<body id="page-top">
    <h1 class="sr-only">Express-Job</h1>
    @RenderBody()
    <footer class="bg-dark">
        <div class="container text-center">
            <p class="p-font">Copyright © Express-Job 2020</p>
        </div>
    </footer>
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="~/Scripts/grayscale.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
