@using Microsoft.AspNetCore.Identity
@using ExpressJob.Areas.Identity.Data

@inject SignInManager<ExpressJobUser> SignInManager
@inject UserManager<ExpressJobUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item nav-link js-scroll-trigger" role="presentation">
            <a class="nav-link border rounded js-scroll-trigger nav-link-orange" id="comenzar" href="/Menu/Menu" >¡COMENZAR YA!</a>
        </li>
        <li class="nav-item">
            <a id="manage" class="nav-link text-light" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @UserManager.GetUserName(User)</a>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout" type="submit" class="nav-link border rounded btn btn-link text-light nav-link-font">Salir</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item nav-link js-scroll-trigger float-left" role="presentation">
            <a class="nav-link border rounded nav-link-font" id="register" asp-area="Identity" asp-page="/Account/Register" style="color: #FE8F00;">REGISTRARME</a>
        </li>
        <li class="nav-item nav-link js-scroll-trigger" role="presentation">
            <a class="nav-link border rounded js-scroll-trigger nav-link-orange" id="login" asp-area="Identity" asp-page="/Account/Login">INICIAR SESIÓN</a>
        </li>
    }
</ul>
