@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<!DOCTYPE html>
<html class="text-dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register - Brand</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=ABeeZee">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Muli">
    <link rel="stylesheet" href="/fonts/fontawesome-all.min.css">
</head>

<body class="text-dark bg-gradient-primary">
    <div class="container text-dark">
        <div class="card shadow-lg o-hidden border-0 my-5">
            <div class="card-body p-0">
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-flex">
                        <div class="flex-grow-1 bg-register-image fondo-registro-servicios">
                            <a class="btn btn-atras" role="button" href="index.html"></a></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h4 class="text-dark mb-4" style="font-family: Lato, sans-serif;font-weight: bold;">¡Registrate para ofrecer tus servicios!</h4>
                            </div>
                            <form class="user">
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><input class="form-control form-control-user" type="text" id="exampleFirstName" name="telefono_movil" placeholder="Teléfono móvil"></div>
                                    <div class="col-sm-6"><input class="form-control form-control-user" type="text" id="exampleFirstName" placeholder="Teléfono fijo" name="telefono_fijo"></div>
                                </div>
                                <div class="form-group"><input class="form-control form-control-user" type="email" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Dirección" name="direccion"></div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0"><img class="border rounded-circle imagen-perfil"></div>
                                    <div class="col-sm-6">
                                        <button class="btn btn-primary border rounded" type="button" style="width: 100%;margin-top: 30px;background-color: rgb(77,77,77);">Cargar imagen de perfil</button>
                                        <p class="text-center" style="margin-top: 20px;">Imagen.png</p>
                                    </div>
                                </div><button class="btn btn-primary text-center d-xl-flex justify-content-center align-self-center mx-auto justify-content-xl-center" type="submit" style="background-color: #FE8F00;">REGISTRARME</button>
                                <hr>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="~/js/theme.js"></script>
</body>

</html>