@page
@model LoginModel

@{
    ViewData["Title"] = "Iniciar sesión";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form method="post" class="post-method">
    <h2 class="sr-only">Iniciar sesión</h2>
    <div class="container container-logo"></div>
    <div class="container">
        <input class="form-control container-input" type="email" name="Email" placeholder="Correo electrónico">
    </div>
    <div class="container">
        <input class="form-control container-input" type="password" name="password" placeholder="Contraseña">
    </div>
    <div class="container">
        <button class="btn btn-primary btn-block text-center btn-orange" type="ingresar">INGRESAR</button>
    </div>
    <a class="forgot a-link a-link-color" href="#">¿Olvidaste tu contraseña?</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
