@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="container"
         style="background-image: url('@Url.Content("~/img/logo.png")');
            background-size: contain;background-repeat: no-repeat;width:auto; height:100px; margin-top: 20px; margin-bottom: 20px; background-position: center">
    </div>
    <div class="row" style="margin:20px">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Nombre"></label>
                <input asp-for="Input.Nombre" class="form-control" />
                <span asp-validation-for="Input.Nombre" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Apellidos"></label>
                <input asp-for="Input.Apellidos" class="form-control" />
                <span asp-validation-for="Input.Apellidos" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>

    </div>
    <button class="btn btn-primary btn-block text-center" type="submit" style="background-color: #FE8F00; width:30%; border-radius:5px; color:white; margin-left:auto; margin-right:auto">REGISTRARME</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
